
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

app/owner/node_modules
app/owner/.yarn/*
!app/owner/.yarn/patches
!app/owner/.yarn/plugins
!app/owner/.yarn/releases
!app/owner/.yarn/sdks
!app/owner/.yarn/versions